
<form action='/submit_new' method='post'>
  ID:
  <label for="id">
  <input type='text' name='id'>
  </label>
  URL:
  <label for="url">
  <input type='text' name='url'>
  </label>
  <input type='submit' value='Submit'>
</form>
